{% extends 'master.html' %}
{% load sitepost_media_tags facebook_tags %}

{% block head %}
    {% render_gmaps_media %}
    {% render_facebook_likemeta object %}      
{% endblock %}

{% block javascript %}			
    <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>       
{% endblock %}

{% block css %}		
{% endblock %}        

{% block body %}
	<body> 
	  {% block post %}
		  <div class="post">
                <h3>{{ object.title }}</h3>
                <h4>Posted {{ object.created_at }} by <span class="username">
                    {% block posted_by %}{{ object.user.first_name }}{% endblock %}</span></h4>
        
                {% comment %}<div class="post-teaser">{{ object.actual_teaser|safe }}</div>{% endcomment %}
                <div class="post-body">{{ object.render_body|safe }}</div>      
                <div class="post-socialmedia">
                {% block social %}			                
		            {% render_facebook_like object %}
					{% render_twitter %}             
				{% endblock social %}
                </div>   
           </div>
	  {% endblock %}			
	</body>           
{% endblock %}